desafio2/node_modules/
desafio4/node_modules/
desafio6/node_modules/
desafio7/node_modules/
desafio8/node_modules/
desafio9/node_modules/
desafio10/node_modules/
desafio11/node_modules/
desafio12/node_modules/
desafio13/node_modules/
desafio14/node_modules/
desafio17/node_modules/
desafio20/node_modules/
desafio22/node_modules/
desafio23/node_modules/
desafio24/node_modules/
desafio25/node_modules/
desafio26/node_modules/
desafio27/node_modules/
desafio28/node_modules/
