<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css">
	<title>Productos | Desafio 11</title>
</head>

<body>
	<div class="container">
		<% if (hayProductos) { %>
			<h1>Vista de Productos</h1>
			<div class="vista-productos">
				<%productos.forEach(producto=> { %>
					<div class="producto">
						<p>
							<%= producto.title %>
						</p>
						<p>
							<%= producto.price %>
						</p>
						<img src="<%= producto.thumbnail %>" alt="imagen de producto">
					</div>
					<%});%>
			</div>
			<%} else {%>
				<div class="msg-no-hay-productos">
					<h1>No se encontraron productos</h1>
				</div>
				<%}%>
	</div>
</body>

</html>
